PORT = #your port
DB_USER= #data base user
DB_PASSWORD= # data base password
DB_HOST= #data base host
DB_PORT= #data base port
DB_NAME= #data base name
PRIVATE_KEY_JWB= #private key used in the generation of the jwt
NODE_ENV= #entorno en el que se usa: development ó production
FRONT_URL= #url del front para añadir en la white list